.app-list-item {
  border: 1px solid black;
  margin-bottom: 8px;
  align-items: center;
  padding: 5px;

  .btn-sm {
    border: 0;
    background: transparent;
  }

  .btn-star {
    margin-right: 5px;
  }

  .app-list-item__label {
    cursor: pointer;
  }
}
.important {
  color: rgb(255, 223, 0);
  .btn-star svg {
    fill: rgb(255, 223, 0);
  }
}
.like {
  border: 2px solid red;
}
